body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: textFont;
    src: url('./Poppins/Poppins-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: headingFont;
    src: url('./Satisfy/Satisfy-Regular.ttf') format('truetype');
  }
  

.grid-main {
  display: grid;
  grid-template-columns: 0px 1fr 0px;
  grid-template-rows: 500px auto 500px 250px 50px;
  gap: 0px 0px;
  grid-template-areas:
    ". welcome ."
    ". recipeDay ."
    ". moreRecipes ."
    ". searchBy ."
    ". footer .";
}
.welcome { grid-area: welcome; }
.recipeDay { grid-area: recipeDay; background-color:#FBF8EE;}
.moreRecipes { grid-area: moreRecipes;}
.searchBy { grid-area: searchBy; background-color:#FBF8EE;}
.footer { grid-area: footer; background-color:#F6F4E9;}

.bio h1 {
    font-family: headingFont;
    color: #CE3D2A;
    font-size: 4.2em;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 40px;
}

.bio h2 {
    font-family: headingFont;
    color: #CE3D2A;
    float: right;
}

.bio p {
    font-family: textFont;
    font-size: 1.1em;
    margin-bottom: 0;
    float: right;
    margin-left: 80px;
}

/*

.navMenu {
    overflow:hidden;
    background-color:#FBF8EE;
    max-height: 45px;
}

.navMenu a {
    float:right;
    display:block;
    color:#434343;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px
}

.navMenu a.active {
    background-color:#25a186;
    color:#434343;
}

.navMenu .icon {
    display:none
}

.fa-bars:before {
    content:"\f0c9"
}

.navMenu .dropdown {
    float:right;
    overflow:hidden
}

.navMenu .dropdown .dropbtn {
    font-size:16px;
    border:none;
    outline:none;
    color:#434343;
    padding:14px 16px;
    background-color:#FBF8EE;
    font-family:inherit;
    margin:0;
    width:100%;
    text-align:left
}

.main_links {
    background-color:#FBF8EE;
    color:#434343;
    line-height:1
}
.main_links:hover {
    background-color:#800000;
    color:#FFFFFF
}

.navMenu .navbar a:hover,.navMenu .dropdown:hover .dropbtn {
    background-color:#800000;
    color:#434343
}

.navMenu .dropdown-content {
    display:none;
    position:absolute;
    background-color:#000;
    min-width:160px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
    z-index:1
}

.navMenu .dropdown-content a {
    float:none;color:#FFF;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
    background-color:#808040;
    color:#000000
}

.navMenu .dropdown-content a:hover {
    background-color:#333;
    color:#434343;
}

.navMenu .dropdown:hover .dropdown-content {
    display:block
}

@media screen and (max-width: 768px) {
    .navMenu a:not(:first-child){display:none}
    .navMenu .main_links{display:none}
    .navMenu .dropdown {display:none}
    .navMenu a.icon {float:right;display:block}
    .navMenu.mobileView {position:relative}
    .navMenu.mobileView .icon {position:absolute;right:0;top:0}
    .navMenu.mobileView a {float:none;display:block;text-align:left}
    .navMenu.mobileView .dropdown {float:none;display:block;text-align:left}
    .navMenu .dropdown-content {position:relative}
}
*/
.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: rgb(0, 0, 0);
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
} 

#cover{
    padding: 0px;
    margin: 0px auto 0 auto;
    border-radius: 24px;
    transform: scale(0.6);
    float: right;
    border: solid 3px #CE3D2A;
    margin: -18px;
    margin-left: -85px;
    margin-right: -80px;
    margin-top: -13px;
    font-family: textFont;
}

form
{
    height: 50px;
}

input[type="text"]
{
    width: 250px;
    height: 40px;
    font-size: 27.2px;
    line-height: 1px;
    position: relative;
    top: -22px;
    right: -15px;
    font-family: textFont;

}

input[type="text"]::placeholder
{
    color: #e16868;
    font-family: textFont;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

.searchbutton
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
    transform: scale(0.4);
    position: relative;
    top: -24px;
    right: -12px;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #CE3D2A;;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.searchbutton span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.searchbutton span:before, .searchbutton span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #CE3D2A;;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #CE3D2A;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover .searchbutton span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover .searchbutton span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover .searchbutton span:before, #s-cover:hover .searchbutton span:after
{
    right: -6px;
    width: 40px;
    background-color: #CE3D2A;;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: rgb(179, 177, 177);
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}



 /* Add a black background color to the top navigation */
 .topnav {
    background-color: #F6F4E9;
    overflow: hidden;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #434343;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: textFont;
  }

  .topnav .navLogo a {
    float: left;
    display: block;
    text-align: center;
    padding: 0px !important;
    margin-left: 20px;
    margin-top: 10px;

  }
  
  /* Add an active class to highlight the current page */
  .active {

    border-bottom: solid 2px #CE3D2A;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: right;
    overflow: hidden;
    font-family: textFont;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #434343;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color:  #434343;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    border-bottom: solid 2px #CE3D2A;
  }

  .topnav a:nth-child(2):hover {
    border-bottom: none !important;
  }
  .topnav a:nth-child(1):hover {
    border-bottom: none !important;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    border-bottom: solid 2px #CE3D2A;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  } 

.portrait {
    float: right;
}

.bio {
    float: left;
}

.grid-bio {
    display: grid;
    margin-top: 85px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas:
      "bioWrapper portraitWrapper";
  }
  
  .bioWrapper { grid-area: bioWrapper; }
  
  .portraitWrapper { grid-area: portraitWrapper; }

  

  
.recipeDayImage {
    float: left;
    margin-left: 40px;
}

.recipeDayBio {
    float: right;
    margin-right: 40px;
}

.recipeDayBio h1 {
    font-family: Raleway;
    color: #434343;
    font-size: 2.2em;
    margin-bottom: 0;
    margin-top: 0;
}

.howManyMin p {
    color: #43434377 !important;
    float:left !important;
}

.recipeDayBio p {
    font-family: textFont;
    font-size: 1em;
    margin-bottom: 0;
    float: right;
    margin-left: 40px;
    color: #434343;
}

.recipeDayBio button {
    background-color: #3B6E8B; /* Green */
    border: none;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 36px;
    float: right;
    font-family: textFont;
  }

.grid-recipeDay {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas:
      "rDIMGWrapper rDBIOWrapper";
  }
  
  .rDIMGWrapper { grid-area: rDIMGWrapper; }
  
  .rDBIOWrapper { grid-area: rDBIOWrapper; }
  
  
/*
    .menu-wrapper {
        position: relative;
        max-width: 1100px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .menu {
        height: auto; 
        box-sizing: border-box;
        
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        scrollbar-width: thin;
    }

    .menu .item {
        display: inline-block;
        width: 200px;
        height: 100%;
        box-sizing: border-box;
        margin-right: 20px;
        margin-left: 20px;
    }


.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
}

.print {
	margin: auto;
	max-width: 500px;
}

.print 	span {
    display: inline-block;
    width: 100px;
}

.moreRecipeIcons {
    border-radius: 12px;
    padding: 10px;

    box-shadow: 0px 0px #ffffff, 0px 0px #ffffff, 0px 0px #ffffff;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
}

.moreRecipeIcons:hover {
    position: relative; top: -3px; left: -3px; 
    box-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902, 4px 4px #fe4902, 5px 5px #fe4902, 6px 6px #fe4902;
}
*/

.viewAllRecipesBTN {
    background-color: #3B6E8B; /* Green */
    border: none;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 36px;
    float: right;
    font-family: textFont;
    margin-right: 40px;
  }


  .item {
    width: 15vw;
    height: 100%;
    max-width: 50px;
    display: inline-block;
    margin: -15px 112px;
    float: left;
    transition: all .2s ease-out;
    border-radius: 18px;
  }

  .item img {
    width: 20vw;
    box-shadow: 0px 0px #ffffff, 0px 0px #ffffff, 0px 0px #ffffff;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;

  }



  .item h3 {
      max-width:200px;
      width: auto;
      min-width: 100px;
  }
  
  .item img:hover {
    position: relative; top: -3px; left: -3px; 
    box-shadow: 1px 1px #9BBFAD, 2px 2px #9BBFAD, 3px 3px #9BBFAD, 4px 4px #9BBFAD, 5px 5px #9BBFAD, 6px 6px #9BBFAD;
    cursor: pointer;
  }
  
.moreRecipeIcons p {
    max-width: 200px !important;
    width: 20vw !important;
    font-family: textFont;
    font-size:14px;
    text-align: center;
    margin-bottom: 200px;
}
  
  .marquee {
    height: 275px;
    width: auto;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 0px auto;
    max-width: 1200px;
  }

  .moreRecipes h1 {
    font-family: Raleway;
    color: #434343;
    font-size: 2.2em;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;

  }
  
  .marquee--inner {
    display: block;
    width: 200%;
    margin: 20px 0;
    position: absolute;
    animation: marquee 20s linear infinite;
  }
  
  .marquee--inner:hover {
    animation-play-state: paused;
  }
  
  .marquee span {
    width: 15%;
    float:left;
  }
  /*.half {
    float: left;
    width: 10%;
  }*/
  
  span {
    float: left;
    width: 50%;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }


  .searchBy h1 {
    font-family: Raleway;
    color: #434343;
    font-size: 2.2em;
    margin-left: 20px;
    margin-top: 20px;
}


.navMenu{
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.navMenu p{
  font-family: textFont;
  font-size: 1em;
  text-decoration: none;
}

.navMenu li{
  display:inline;
}

.navMenu a{
  display:inline-block;
  padding:10px;
}